fieldset.app {
	border: 1px solid #DFDFDF;
	padding-top: 8px;
	padding-right: 18px;
	padding-bottom: 10px;
	padding-left: 18px;
	background-color: #FBFBFB;
	margin-top: 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 342px;
	background-image: url(../images/cream_pixels.png);
}
fieldset.app input.app_wploginuser,
fieldset.app input.app_wpadminuser {
	width: 340px;
	height: 28px;
}
fieldset.app input.app_wpadminpasswd,
fieldset.app input.app_wploginpasswd {
	width: 312px;
	height: 28px;
}
fieldset.app legend {
	border: 1px solid #DFDFDF;
	font-size: 12px;
	text-align: left;
	margin-left: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	font-weight: bold;
	background-color: #FFF;
	color: #257EA8;
}
fieldset.app .app_wpadminpasswd_generate,
fieldset.app .app_wploginpasswd_generate {
	background-image: url(../images/refresh.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 16px;
	width: 16px;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	margin-left: 12px;
}